body{
    text-align: center;
}
div{
}

.conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;
    row-gap: 50px;
    
}
.card{
    box-shadow: 5px 5px 20px 1px ;
    margin: 5px;
    border-radius: 12px;
    text-align: justify;
}


.card img{
    width: 200px;
    border-radius: 12px 12px 0px 0px;

}
button{
    display: block;
    margin: auto;
    margin-bottom: 8px;
}
